*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

html {
  background-color: rgb(230, 230, 230);
}

.main-container,
.form-container,
.creditor-container,
.debtor-container,
.paymentInfo-container,
.additionalInfo-container,
.creditor-fields-container,
.debtor-fields-container,
.paymentInfo-fields-container,
.additionalInfo-fields-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.creditor-container,
.debtor-container,
.paymentInfo-container,
.additionalInfo-container {
  padding-bottom: 10px;
  box-shadow: 0 0 10px rgb(177, 177, 177);
  flex-wrap: nowrap;
  background-color: rgb(246, 246, 246);
}

.creditor-fields-container,
.debtor-fields-container,
.paymentInfo-fields-container,
.additionalInfo-fields-container {
  width: 600px;
  height: 275px;
  justify-content: flex-start;
}

.main-container,
.form-container {
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 100%;
  height: 100%;
}

.form-container {
  height: 100vh;
  width: 1220px;
  gap: 20px;
}

.fields-group {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.creditor-fields-container {
  height: 246px;
}

.debtor-fields-container {
  height: 200px;
}

.paymentInfo-fields-container {
  height: 246px;
}

.additionalInfo-fields-container {
  height: 200px;
  width: 400px;
  justify-content: flex-start;
}

.input-style {
  min-width: 100px;
  width: 255px;
  margin-right: 4px;
  margin-left: 10px;
  border: 1px solid rgb(253, 164, 30);
  padding: 1px 5px;
  height: 1.7em;
}

.input-style:focus,
.input-style-select:focus {
  outline: none;
  box-shadow: 0 0 2px 1px rgb(253, 164, 30);
}

.input-style-select {
  min-width: 100px;
  width: 255px;
  margin-right: 4px;
  margin-left: 10px;
  border: 1px solid rgb(253, 164, 30);
  padding: 1px 0;
  height: 1.7em;
}

.required-active {
  border: 1px solid rgb(211, 0, 0);
  box-shadow: 0 0 2px rgb(194, 0, 0);
  background-color: rgb(231, 213, 213);
}

#creditorAccountAlt {
  height: 70px;
  resize: none;
}

#paymentCurrency {
  width: 106px;
}

#paymentType {
  width: 106px;
}

#aInfoPaymentCode,
#aInfoPaymentType,
#aInfoPP50Program,
#aInfoPP50IncomeCode {
  width: 135px;
}

#aInfoPP50PaymentAccount,
#aInfoPP50SingleUserAccount {
  width: 312px;
}

.additionalInfo-container {
  width: 354px;
}

.info-icon-creditorAccountAlt {
  position: relative;
  bottom: 55px;
}

span.info {
  margin-right: 10px;
  position: relative;
}

label {
  display: block;
  margin: 5px 0 1px 10px;
  font-weight: bold;
}

.display-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  margin-top: 10px;
  width: auto;
}

span {
  vertical-align: middle;
}

.field .info-icon {
  opacity: 0.3;
}

h2 {
  text-align: center;
}

.creditor-title-container,
.debtor-title-container,
.paymentInfo-title-container,
.additionalInfo-title-container {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
}

.infoAndBtn-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.btn-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 226px;
  margin-left: 20px;
}

.btn-preview {
  height: 45px;
  width: 200px;
  margin: 0 auto;
  background-color: rgb(128, 0, 32);
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgb(177, 177, 177);
}

.btn-preview:hover {
  background-color: rgb(100, 0, 25);
}

.btn-preview:active {
  background-color: rgb(70, 1, 18);
}

.stats-style {
  margin-top: 10px;
  margin-left: 10px;
}

.stats-style div {
  padding: 1.5px;
}

.bold {
  font-weight: bold;
}

.info-icon {
  opacity: 0.2;
}

.qr-screen {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.filled-data {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
  width: 700px;
  height: 530px;
  padding: 5px;
  background-color: rgb(238, 238, 238);
  border-radius: 3px;
  border: 1px solid black;
}

.modal-screen {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(29, 29, 29);
  opacity: 0.7;
  z-index: 5;
}

.display-toggle,
.display-block {
  display: block;
}

.display-none {
  display: none;
}

.lower-opacity {
  opacity: 0.4;
}

.lower-opacity:hover .tooltip {
  opacity: 0;
}

.display-toggle-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 5px;
}

.qr-options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  height: 500px;
  width: 500px;
}

.btn-modal-exit {
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 100;
  opacity: 0.7;
  font-weight: bolder;
  width: 40px;
  height: 40px;
  background: none;
  border: 2px solid white;
  color: white;
}

.btn-modal-exit:hover {
  opacity: 1;
}

.qrCode-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-width: 415px;
  min-height: 415px;
  overflow: visible;
  transform: scale(0.5); /* Scale of the QR Code */
}

.qr-options h3 {
  color: white;
  text-shadow: 0 0 3px black;
}

.filled-data-title:not(:first-child) {
  margin-top: 10px;
}

.btn-download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  width: 75px;
  height: 30px;
  text-decoration: none;
  background-color: rgb(0, 92, 121);
  color: white;
  border: 1px solid black;
  border-radius: 3px;
}

.btn-download:hover {
  background-color: rgb(1, 73, 95);
}

.btn-download:active {
  background-color: rgb(0, 49, 65);
}

.btn-res {
  width: 50px;
  height: 30px;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  background-color: rgb(0, 92, 121);
  border: 1px solid black;
}

.btn-res:hover {
  background-color: rgb(1, 73, 95);
}

.btn-res:active {
  background-color: rgb(0, 49, 65);
}

.qrCode-download-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.p-data-style {
  font-size: 0.9rem;
  word-wrap: break-word;
  width: 320px;
  margin: 1px;
}

.span-label-data {
  font-weight: bold;
  font-size: 0.8rem;
}

.span-input-data {
  font-size: 0.85rem;
}
/* tooltips */
.tooltip {
  display: none;
  position: absolute;
  top: 7px;
  right: 12px;
  padding: 5px;
  word-wrap: break-word;
  background: rgb(41, 41, 41);
  color: white;
  width: 300px;
  height: auto;
  border-radius: 3px;
  z-index: 10;
}

.tooltip:active {
  visibility: hidden;
}

.inverse {
  transform: translateY(-100%);
}

.info:hover .tooltip {
  display: block;
}

.tooltip-creditorAccountAlt {
  top: -50px;
}

/* .test2::after {
  content: "hello there \A yo";
} */

/* span::before {
  display: none;
  width: 270px;
  max-width: 200px;
  max-height: 300px;
  content: "asdaaaaaaaaaaa\A aaaaa";
  word-wrap: break-word;
  position: absolute;
  margin-top: -5px;
  margin-left: -5%;
  top: 51%;
  z-index: 10000;
  background: red;
}

span:hover::before {
  display: block;
} */
